-r ./requirements.txt
pytest
pytest-cov
mock
decorator
requests_mock
rstcheck
prospector[with_pyroma]

# More recent versions of these linters introduce rules that make it fail.
# Pin these versions to keep the ruleset fixed.
dodgy==0.2.1
flake8==4.0.1
flake8-polyfill==1.0.2
mccabe==0.6.1
prospector==1.7.7
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.13.9
